In [3]:
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt

import requests

In [8]:
# URL для загрузки датасета
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"

# Загрузка датасета
response = requests.get(url)
with open("titanic.csv", "wb") as file:
    file.write(response.content)

# Чтение датасета в DataFrame
df = pd.read_csv("titanic.csv")

# Вывод первых строк датасета
print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

In [9]:
# To use one of columns as id -> use index_col
# df_withID = pd.read_csv("titanic.csv", index_col='PassengerId')

In [12]:
# Slice with iloc
print(df.iloc[6:10]) # -> by iloc
print(df.loc[6:10])

   Survived  Pclass                                              Name     Sex  \
6         0       1                            Mr. Timothy J McCarthy    male
7         0       3                     Master. Gosta Leonard Palsson    male
8         1       3  Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  female
9         1       2                Mrs. Nicholas (Adele Achem) Nasser  female

    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
6  54.0                        0                        0  51.8625
7   2.0                        3                        1  21.0750
8  27.0                        0                        2  11.1333
9  14.0                        1                        0  30.0708
    Survived  Pclass                                              Name  \
6          0       1                            Mr. Timothy J McCarthy
7          0       3                     Master. Gosta Leonard Palsson
8          1       3  Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9          1       2                Mrs. Nicholas (Adele Achem) Nasser
10         1       3                    Miss. Marguerite Rut Sandstrom

       Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
6     male  54.0                        0                        0  51.8625
7     male   2.0                        3                        1  21.0750
8   female  27.0                        0                        2  11.1333
9   female  14.0                        1                        0  30.0708
10  female   4.0                        1                        1  16.7000

In [13]:
df.loc[[6,7,10]]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
10,1,3,Miss. Marguerite Rut Sandstrom,female,4.0,1,1,16.7000

In [14]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')